<div class="bg-teal text-light text-center p-5" style="height: 100vh">
  <div class="container">
    <h1 class="display-2 mb-4">Start logging with <strong>HADI</strong></h1>
    <div class="row mt-3">
      <div class="col-12 col-md-7 col-xl-6">
        <h3 class="display-6 py-2">- <strong>HADI</strong> is a subscription service coming soon to a phone near you</h3>
        <h3 class="display-6 py-2">- Give us your name and email, and we will let you know when you can enroll</h3>
      </div>
      <div class="col-12 col-md-5 col-xl-6 mt-md-3 px-xl-5">
        <form action="http://localhost:9292/new_customer" method="POST">
          <div class="mb-3 mt-4 ">
            <label for="name-input" class="form-label">Name</label>
            <input type="name" class="form-control" id="name-input" aria-describedby="emailHelp" name="post[name]">
          </div>
          <div class="mb-3">
            <label for="email-input" class="form-label">Email Adress</label>
            <input type="email" class="form-control" id="email-input" name="post[email]" required>
          </div>
          <button type="submit" class="btn btn-primary btn-lg mt-3">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
