<div class="bg-teal text-light text-center p-5" style="height: 100vh">
  <h1 class="display-3">Thank you for signing up for the <strong>HADI</strong> newsletter!!</h1>
  <h2 class="display-4 my-4">We will let you know when you can enroll</h2>
</div>
